// USER VARIABLES SECTION

$accent: #F7654A; // Accent Color
$darkaccent: darken($accent, 7);
$dark: #404149;
$fontsize: 14px; // Body Font Size
$textcolor: #000; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$oswald: Oswald-S, sans-serif; // oswald Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; 
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; 
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; 
@import '../libs/photoswipe/photoswipe.css'; 
@import '../libs/photoswipe/default-skin/default-skin.css'; 
@import 'node_modules/magnific-popup/src/css/main.scss'; 

// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Oswald-S', normal, 500, '../fonts/Oswald-Regular.woff2');
@include font('Oswald-S', normal, 600, '../fonts/Oswald-Medium.woff2');
@include font('Oswald-S', normal, 700, '../fonts/Oswald-SemiBold.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $oswald;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

a{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}

ul, ol, p, figure{
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	line-height: inherit;
}