

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {  
  .our-works__wrapper-img{
    height: auto;    
  }
  .partners{
    justify-content: space-around;
    flex-wrap: wrap;
    &__item {
      margin: 10px;
    }
  }
}



// ≥768px
@include media-breakpoint-down(sm) {
 .header__bottom-slogon{
   font-size: 48px;
 }
 .comments{
   &__item{
     margin-bottom: $gutter;
   }
   &__item-fio{
     padding-top: 10px;
   }
 }
 .contacts-section{
   margin-bottom: $gutter*2;
 }
 .footer{
   text-align: center;
 }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .header__bottom-slogon{
    font-size: 38px;
  }
  .years-section__blocks{
    max-width: 190px;
    width: auto;
  }
  .banner{
    &__inner{
      justify-content: center;
      flex-wrap: wrap;
    }
    &__block{
      max-width: 100%;
      margin-bottom: $gutter;
      text-align: center;
    }
  }
  .contact-box{
    margin-bottom: $gutter;
  }
  .footer__wrapper{
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
  }

  .menu{
    position: absolute;
    width: 100%;    
    &__list{
      flex-direction: column;
      top: 80px;
      padding: 0; 
      width: 100%;    
      height: 0;
      justify-content: center;
      &_open{
        height: 70vh;
        padding: 15px 0 35px;
      }
    }
    &__item{
      margin: 10px;
      font-size: 24px;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
